<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="/styles/reset.css" rel="stylesheet" type="text/css" />
<link href="/styles/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/scripts/jquery.js"></script>

<% if (controllerStyle) { %>
	<link rel="stylesheet" type="text/css" href="/styles/helpers/<%= controller %>.css" />
<% } %>

<% if (controllerScript) { %>
	<script type="text/javascript" src="/scripts/helpers/<%= controller %>.js"></script>
<% } %>
<title>Music Kombat</title>
</head>
<body>
<%- body %>
</body>
</html>
